extends layout

block content
	h1 Local Yelp Search
	.input-group
		input(type="text" class="search")
		p in <a href="#">Narraganset, RI</a>

	ul.restaurants#restaurants-list
		li.restaurant
			img(src="images/el-fuego.jpg")
			h2 El Fuego
			p 344 Main St, Wakefield, RI 02879
		li.restaurant
			img(src="images/el-fuego.jpg")
			h2 El Fuego
			p 344 Main St, Wakefield, RI 02879
		li.restaurant
			img(src="images/el-fuego.jpg")
			h2 El Fuego
			p 344 Main St, Wakefield, RI 02879
